.form{
    margin-top: 125px;
    margin-left: 250px;
    border: 2.5px solid salmon;
    padding: 70px;
}

.signup-form{
    margin-top: 35px;
    margin-left: 250px;
    border: 2.5px solid salmon;
    padding: 50px;
}